RewriteEngine On

RewriteBase /mix/

#Allow the .php files to be seen without the extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php


#See .html url as .php url (www.example.com/h.html => www.example.com/h.php)
RewriteRule ^(.*)\.html$ $1.php
